In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('/teamspace/uploads/train.csv', low_memory=False)
df.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000.0,1053,Bourg-en-Bresse,1,0,Maison,150.0,5.0,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250.0,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4.0,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250.0,1177,Grand-Corent,1,0,Maison,90.0,3.0,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270.0,1108,Coligny,1,0,Maison,110.0,5.0,2483.0,5.352696,46.384469

In [34]:
df['nombre_pieces_principales'] = df['nombre_pieces_principales'].astype(int)
df['code_postal'] = df['code_postal'].astype(int)

In [35]:
df.head()

,date_mutation,numero_disposition,valeur_fonciere,adresse_numero,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,2019-07-01,1,244200.0,73.0,RUE COMMANDANT COUSTEAU,0958,1000,1053,Bourg-en-Bresse,1,0,Maison,150.0,5,695.0,5.264531,46.194443
1,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4,888.0,5.415689,46.159272
2,2019-07-04,1,195000.0,852.0,CHE DE LA CROIX ROSIER,0170,1250,1184,Hautecourt-Romanèche,1,0,Maison,94.0,4,500.0,5.415689,46.159272
3,2019-07-04,1,110030.0,5041.0,LA VILLE,B097,1250,1177,Grand-Corent,1,0,Maison,90.0,3,522.0,5.431065,46.199271
4,2019-07-03,1,160450.0,5515.0,CHARBONNET,B039,1270,1108,Coligny,1,0,Maison,110.0,5,2483.0,5.352696,46.384469

In [36]:
df['surface_reelle_bati'] = df['surface_reelle_bati'].abs()
df['surface_terrain'] = df['surface_terrain'].abs()

In [37]:
df.min()

date_mutation                         2019-07-01
numero_disposition                             1
valeur_fonciere                             0.15
adresse_numero                       -117.335745
adresse_nom_voie             10E QRT DES VIDELAS
adresse_code_voie                           0001
code_postal                                 1000
code_commune                               10002
nom_commune                                 Aast
code_departement                               1
nombre_lots                                    0
type_local                           Appartement
surface_reelle_bati                     0.004745
nombre_pieces_principales                      0
surface_terrain                         0.002688
longitude                             -63.151074
latitude                              -21.386149
dtype: object

In [38]:
columns_used = ['nom_commune'  , 'code_postal', 'type_local', 'surface_reelle_bati' , 'surface_terrain' , 'nombre_pieces_principales' , 'longitude' , 'latitude' , 'valeur_fonciere']

dft1 = df[columns_used]

In [39]:
dft1.head()

,nom_commune,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,Bourg-en-Bresse,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0
1,Hautecourt-Romanèche,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0
2,Hautecourt-Romanèche,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0
3,Grand-Corent,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0
4,Coligny,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0

In [40]:
dft1.to_csv('dft1.csv', index=False)

# **Start Here!**

In [1]:
import pandas as pd

dff = pd.read_csv('dft1.csv')

Take 1:
- LE
- All features + surface_moy

In [2]:
dft1 = dff.copy()

In [3]:
dft1['surface_moy'] = (dft1['surface_reelle_bati']+dft1['surface_terrain'])/2

In [4]:
dft1.head()

,nom_commune,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy
0,Bourg-en-Bresse,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0,422.5
1,Hautecourt-Romanèche,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0,491.0
2,Hautecourt-Romanèche,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0,297.0
3,Grand-Corent,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0,306.0
4,Coligny,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5

In [5]:
dft1.drop(columns = ['nom_commune'], inplace = True)

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

dft1['type_local'] = le.fit_transform(dft1['type_local'])

dft1.head()

,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy
0,1000,3,150.0,695.0,5,5.264531,46.194443,244200.0,422.5
1,1250,3,94.0,888.0,4,5.415689,46.159272,195000.0,491.0
2,1250,3,94.0,500.0,4,5.415689,46.159272,195000.0,297.0
3,1250,3,90.0,522.0,3,5.431065,46.199271,110030.0,306.0
4,1270,3,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5

Take 2:
- LE
- All features

In [7]:
dft2 = dft1.iloc[:, :-1]
dft2.head()

,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,1000,3,150.0,695.0,5,5.264531,46.194443,244200.0
1,1250,3,94.0,888.0,4,5.415689,46.159272,195000.0
2,1250,3,94.0,500.0,4,5.415689,46.159272,195000.0
3,1250,3,90.0,522.0,3,5.431065,46.199271,110030.0
4,1270,3,110.0,2483.0,5,5.352696,46.384469,160450.0

Take 3:
- OHE
- All features + surface_moy

In [8]:
dft3 = dff.copy()
dft3.head()

,nom_commune,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,Bourg-en-Bresse,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0
1,Hautecourt-Romanèche,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0
2,Hautecourt-Romanèche,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0
3,Grand-Corent,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0
4,Coligny,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0

In [9]:
dft3.drop(columns = ['nom_commune'], inplace =True)
dft3['surface_moy'] = (dft3['surface_reelle_bati']+dft3['surface_terrain'])/2
dft3.head()

,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy
0,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0,422.5
1,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0,491.0
2,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0,297.0
3,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0,306.0
4,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5

In [10]:

dft3 = pd.concat([dft3, pd.get_dummies(dft3['type_local'] )], axis=1)
dft3.head()

,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison
0,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0,422.5,False,False,False,True
1,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0,491.0,False,False,False,True
2,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0,297.0,False,False,False,True
3,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0,306.0,False,False,False,True
4,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5,False,False,False,True

In [11]:
dft3['Appartement'] = dft3['Appartement'].astype(int)
dft3['Dépendance'] = dft3['Dépendance'].astype(int)
dft3['Local industriel. commercial ou assimilé'] = dft3['Local industriel. commercial ou assimilé'].astype(int)
dft3['Maison'] = dft3['Maison'].astype(int)

dft3.head()

,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison
0,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0,422.5,0,0,0,1
1,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0,491.0,0,0,0,1
2,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0,297.0,0,0,0,1
3,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0,306.0,0,0,0,1
4,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5,0,0,0,1

In [12]:
dft3.drop(columns = ['type_local'], inplace= True)

Take 4:
- OHE
- All features

In [13]:
dft4 = dft3.copy()
dft4 = dft3.drop(columns = ['surface_moy'])
dft4.head()

,code_postal,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison
0,1000,150.0,695.0,5,5.264531,46.194443,244200.0,0,0,0,1
1,1250,94.0,888.0,4,5.415689,46.159272,195000.0,0,0,0,1
2,1250,94.0,500.0,4,5.415689,46.159272,195000.0,0,0,0,1
3,1250,90.0,522.0,3,5.431065,46.199271,110030.0,0,0,0,1
4,1270,110.0,2483.0,5,5.352696,46.384469,160450.0,0,0,0,1

Take 5:
- All features without postal code

In [14]:
dft5 = dff.copy()
dft5.head()

,nom_commune,code_postal,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,Bourg-en-Bresse,1000,Maison,150.0,695.0,5,5.264531,46.194443,244200.0
1,Hautecourt-Romanèche,1250,Maison,94.0,888.0,4,5.415689,46.159272,195000.0
2,Hautecourt-Romanèche,1250,Maison,94.0,500.0,4,5.415689,46.159272,195000.0
3,Grand-Corent,1250,Maison,90.0,522.0,3,5.431065,46.199271,110030.0
4,Coligny,1270,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0

In [15]:
dft5.drop(columns = ['nom_commune', 'code_postal'], inplace = True)
dft5.head()

,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,Maison,150.0,695.0,5,5.264531,46.194443,244200.0
1,Maison,94.0,888.0,4,5.415689,46.159272,195000.0
2,Maison,94.0,500.0,4,5.415689,46.159272,195000.0
3,Maison,90.0,522.0,3,5.431065,46.199271,110030.0
4,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0

Take 6:
- All features without postal code + surface_moy

In [16]:
dft6 = dft5.copy()
dft6['surface_moy'] = (dft6['surface_reelle_bati']+dft6['surface_terrain'])/2
dft6.head()

,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy
0,Maison,150.0,695.0,5,5.264531,46.194443,244200.0,422.5
1,Maison,94.0,888.0,4,5.415689,46.159272,195000.0,491.0
2,Maison,94.0,500.0,4,5.415689,46.159272,195000.0,297.0
3,Maison,90.0,522.0,3,5.431065,46.199271,110030.0,306.0
4,Maison,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5

Take 7:
- LE
- All features without postal code

In [17]:
dft7 = dft5.copy()
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

dft7['type_local'] = le.fit_transform(dft7['type_local'])

dft7.head()

,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere
0,3,150.0,695.0,5,5.264531,46.194443,244200.0
1,3,94.0,888.0,4,5.415689,46.159272,195000.0
2,3,94.0,500.0,4,5.415689,46.159272,195000.0
3,3,90.0,522.0,3,5.431065,46.199271,110030.0
4,3,110.0,2483.0,5,5.352696,46.384469,160450.0

Take 8:
- OHE
- All features without postal code + surface moy

In [19]:
dft8 = dft6.copy()
dft8 = pd.concat([dft8, pd.get_dummies(dft8['type_local'] )], axis=1)
dft8['surface_moy'] = (dft8['surface_reelle_bati']+dft8['surface_terrain'])/2
dft8['Appartement'] = dft8['Appartement'].astype(int)
dft8['Dépendance'] = dft8['Dépendance'].astype(int)
dft8['Local industriel. commercial ou assimilé'] = dft8['Local industriel. commercial ou assimilé'].astype(int)
dft8['Maison'] = dft8['Maison'].astype(int)
dft8.drop(columns = ['type_local'], inplace = True)
dft8.head()

,surface_reelle_bati,surface_terrain,nombre_pieces_principales,longitude,latitude,valeur_fonciere,surface_moy,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison
0,150.0,695.0,5,5.264531,46.194443,244200.0,422.5,0,0,0,1
1,94.0,888.0,4,5.415689,46.159272,195000.0,491.0,0,0,0,1
2,94.0,500.0,4,5.415689,46.159272,195000.0,297.0,0,0,0,1
3,90.0,522.0,3,5.431065,46.199271,110030.0,306.0,0,0,0,1
4,110.0,2483.0,5,5.352696,46.384469,160450.0,1296.5,0,0,0,1

## **Models Training**

In [23]:
from skopt import BayesSearchCV
from skopt.space import Integer, Real, Categorical
from sklearn.model_selection import cross_val_score
from sklearn.exceptions import ConvergenceWarning
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
import warnings

# To suppress convergence warnings
warnings.filterwarnings("ignore", category=ConvergenceWarning)

def model(X_train, y_train, X_test, y_test):
    models = {
        'xgb': {
            'estimator': XGBRegressor,
            'search_space': {
                'n_estimators': Integer(100, 500),
                'learning_rate': Real(0.01, 0.3),
                'max_depth': Integer(3, 10),
                'subsample': Real(0.5, 1),
                'colsample_bytree': Real(0.5, 1),
            }
        },
        'lgb': {
            'estimator': LGBMRegressor,
            'search_space': {
                'n_estimators': Integer(100, 500),
                'learning_rate': Real(0.01, 0.3),
                'max_depth': Integer(3, 10),
                'subsample': Real(0.5, 1),
                'colsample_bytree': Real(0.5, 1),
            }
        },
        'rf': {
            'estimator': RandomForestRegressor,
            'search_space': {
                'n_estimators': Integer(100, 500),
                'max_depth': Integer(3, 10),
                'max_features': Real(0.5, 1),
            }
        },
        'svr': {
            'estimator': SVR,
            'search_space': {
                'C': Real(0.1, 10),
                'epsilon': Real(0.01, 1),
                'kernel': Categorical(['linear', 'rbf']),
            }
        },
        'linear': {
            'estimator': LinearRegression,
            'search_space': {}  # No hyperparameters for Linear Regression
        },
        'ridge': {
            'estimator': Ridge,
            'search_space': {
                'alpha': Real(0.1, 10),
            }
        },
        'lasso': {
            'estimator': Lasso,
            'search_space': {
                'alpha': Real(0.01, 1),
            }
        },
        'elastic_net': {
            'estimator': ElasticNet,
            'search_space': {
                'alpha': Real(0.01, 1),
                'l1_ratio': Real(0.1, 1),
            }
        },
        'knn': {
            'estimator': KNeighborsRegressor,
            'search_space': {
                'n_neighbors': Integer(3, 20),
                'weights': Categorical(['uniform', 'distance']),
                'p': Integer(1, 2),  # 1 for Manhattan, 2 for Euclidean distance
            }
        }
    }

    best_model = None
    best_score = float('-inf')

    for model_name, model_config in models.items():
        estimator = model_config['estimator']
        search_space = model_config['search_space']

        # Use cross-validation for more robust scoring
        scoring = 'neg_mean_squared_error'  # Adjust based on your regression metric
        cv = 5  # Adjust the number of folds

        # Create and fit the Bayesian search object with appropriate parameter types
        bayesian_search = BayesSearchCV(
            estimator=estimator(),
            search_spaces=search_space,
            scoring=scoring,
            cv=cv,
            random_state=42,
            n_iter=10,  # Adjust the number of search iterations
            verbose=0,
        )

        bayesian_search.fit(X_train, y_train)

        # Get the best model with its parameters
        best_model_inner = bayesian_search.best_estimator_
        best_params_inner = bayesian_search.best_params_

        print(f"Model: {model_name}")
        print(f"Best Cross-Validated Score (Train): {-bayesian_search.best_score_}")  # Converting to positive MSE
        print(f"Best Params: {best_params_inner}")

        # Evaluate the model's performance using cross-validation on the training set
        score = cross_val_score(best_model_inner, X_train, y_train, cv=cv, scoring=scoring).mean()
        score = -score  # Convert to positive MSE for comparison

        print(f"{model_name}: Best Cross-Validated Score: {score}\nBest Params: {best_params_inner}")

        # Evaluate on the test set
        test_score = mean_squared_error(y_test, best_model_inner.predict(X_test))
        print(f"{model_name}: Test Score (MSE): {test_score}")

        if score > best_score:
            best_model = best_model_inner
            best_params = best_params_inner
            best_score = score
            best_test_score = test_score

    print('Best Model:', best_model)
    print('Best Params:', best_params)
    print('Best Cross-Validated Score (Train):', best_score)
    print('Best Test Score (MSE):', best_test_score)

    #return best_model, best_params, best_score, best_test_score

In [25]:
from sklearn.model_selection import train_test_split



dataframes = [dft1,dft2, dft3, dft4, dft5, dft6, dft7, dft8]

for df in dataframes:
    i = 1
    print(f'Training using dft{i}')

    X = df.drop(columns = ['valeur_fonciere'])
    y = df[['valeur_fonciere']]


    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    model( X_train,y_train, X_test, y_test)
    
    i+=1

Training using dft1